@media (max-width: 800px){
    #header-home{
        height: 30rem;
        .header-content{
            padding-top: 5rem;
        }
    }
    #home-a .specials{
        grid-template-columns: repeat(2, 1fr);
    }
    #home-c .process{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 678px){
    #about-d .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px){
    #main-nav{
        flex-direction: column;
        align-items: center;
        li{
            padding: 1rem;
        }
    }

    #header{
        &-home{
            height: 10rem;
            border-bottom: 3px solid $main-color;


            .header-content{
                display: none;
            }
        }

        &-inner{
            height: 10rem;
        }
    }

    
    #home-a .specials,
    #home-b .stats,
    #home-c .process,
    #about-d .testimonials,
    #about-b .contact-info,
    .items{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-content {
        display: flex;
        padding: .5rem 0;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 5rem;
    }
    #about-a .about-info {
        display: grid;
        grid-template-areas:
            "bioimage"
            "bio"
            'aw1'
            'aw2'
            'aw3';
    }
    #contact-a .text-fields {
        display: grid;
        grid-template-areas:
            "name" "email"
            "subject" "phone"
            "message";
        grid-template-columns: repeat(1, 1fr );
    }
    #contact-b .contact-info {
        grid-gap: .5rem;
        grid-template-columns: repeat(1, 1fr);
    }
}